<h1>about</h1>
<header>
    <div><img src="./assets/dogLogo.png" alt=""><h3>Welcome </h3></div>
    
    <nav>
        <li><a href="/">Forside</a></li>
        <li><a href="#">Om os</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrer</a></li>
    </nav>

</header>