<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/forside.css" type="text/css">
    <script src="./js/forside.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <header>
        <div><img src="./assets/dogLogo.png" alt=""><h3>Welcome <%= firstName %> </h3></div>
        
        <nav>
            <li><a href="#">Forside</a></li>
            <li><a href="/about">Om os</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registrer</a></li>
        </nav>

    </header>
    <main>
        <section id="category">

        <button type="button" onclick="NewCat(this)">Foder</button>
        <button type="button" onclick="NewCat(this)">Snacks</button>
        <button type="button" onclick="NewCat(this)">Legetøj</button>
        <button type="button" onclick="NewCat(this)">Udstyr</button>
        </section>
        <select name="" id="">
            <option value="">Pris - faldende</option>
            <option value="">Pris - stigende</option>
        </select>
        <section id="products">
        </section>
    </main>
</body>
</html>